.feed {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 141px);
	position: relative;
	justify-content: center;
}

.credentials-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	gap: 20px;
}

.credentials-container input {
	width: calc(100% - 2px);
	max-width: 198px;
	border: 1px solid var(--gray-color);
	background-color: var(--background-color);
	border-radius: 50px;
	padding: 10px 10px;

	font-family: var(--display-font);
	font-weight: 600;
	font-size: 15px;
	color: var(--text-color);
}

::placeholder {
	color: var(--gray-color);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--gray-color);
}

::-ms-input-placeholder {
	color: var(--gray-color);
}

.credentials-container input:focus {
	outline: none;
	border: 1px solid var(--text-color);
}

.credentials-buttons {
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0;
	margin: 0;
}

.credentials-buttons button {
	font-family: var(--display-font);
	padding: 8px 20px;
	margin: 0;
	border: none;
	background-color: var(--accent-color);
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	border-radius: 100px;

	transition: all 0.2s ease-in-out;
}

.credentials-buttons button:hover {
	background-color: var(--accent-dark-color);
}
