/* WRITE */

.write {
	max-width: calc(100%);
	background-color: var(--background-color);
	/*border-right: 1px solid var(--gray-color);
	border-left: 1px solid var(--gray-color);*/
	border-bottom: 1px solid var(--gray-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.write-textarea {
	width: calc(100% - 40px);
	border: none;
	margin: 20px 0;
	margin-bottom: 0px;
	background-color: var(--background-color);
	resize: none;
	font-size: 18px;
	font-weight: 500;
	color: var(--text-color);
	font-family: var(--body-font);
}

::placeholder {
	color: var(--gray-color);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--gray-color);
}

::-ms-input-placeholder {
	color: var(--gray-color);
}

.write-textarea:focus {
	outline: none;
}

.write-settings {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.write-character-count {
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	font-family: var(--body-font);
	margin: 0;
	padding: 0;
}

.write-button {
	font-family: var(--display-font);
	padding: 8px 20px;
	margin: 0;
	border: none;
	background-color: var(--accent-color);
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	border-radius: 100px;

	transition: all 0.2s ease-in-out;
}

.write-button:hover {
	background-color: var(--accent-dark-color);
}

/* FEED */

.feed {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 272px);
	position: relative;
}

.feed-item {
	display: flex;
	flex-direction: column;
	width: calc(100%); /* had -2px*/
	border-bottom: 1px solid var(--gray-color);
	background-color: var(--background-color);
}

.feed-item-username-date-container {
	width: calc(100% - 40px);
	padding: 0;
	padding-top: 20px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 20px;
}

.feed-item-username-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.feed-item-username {
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	color: var(--text-color);
	padding: 0;
	margin: 0;
}

.feed-item-date-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.feed-item-date {
	width: 100%;
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	padding: 0;
	margin: 0;
}

.feed-item-text-container {
	padding: 0;
	width: calc(100% - 40px);
	margin: 0 auto;
	position: relative;
}

.feed-item-text {
	font-size: 15px;
	font-weight: 500;
	color: var(--text-color);
	padding: 10px 0;
	margin: 0;
	width: 100%;
}

.feed-item-buttons {
	padding: 0;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-top: -5px;
	width: calc(100% - 40px);
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	gap: 30px;
}

.feed-item-button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0;
	margin: 0;
}

.feed-item-button path {
	fill: var(--gray-color);
}

.feed-item-button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	border-radius: 100px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.2s ease-in-out;
}

.feed-item-button.active > svg > path {
	fill: var(--accent-color);
}

.feed-item-button:hover {
	background-color: var(--accent-darker-color);
}

.feed-item-button:hover > svg > path {
	fill: var(--accent-color);
}

.feed-item-button-container p {
	color: var(--gray-color);
	font-size: 13px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.feed-item-comments-container {
	width: 0;
	height: 0;
	display: hidden;
	pointer-events: none;
	visibility: hidden;
	overflow: hidden;
}

.feed-item-comments-container.active {
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-top: 1px solid var(--gray-color);
	padding-bottom: 10px;
	pointer-events: all;
	visibility: visible;
	height: auto;
}

.feed-item-comment {
	width: calc(100% - 80px);
	margin: 0 auto;
	border-top: 1px solid var(--gray-color);
}

.feed-item-comment-username-date-container {
	width: 100%;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 20px;
}

.feed-item-comment-username-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}

.feed-item-comment-username {
	font-size: 16px;
	font-weight: 700;
	color: var(--text-color);
	padding: 0;
	margin: 0;
}

.feed-item-comment-date-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.feed-item-comment-date {
	width: 100%;
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	padding: 0;
	margin: 0;
}

.feed-item-comment-text-container {
	padding: 0;
	margin: 0;
	width: 100%;
}

.feed-item-comment-text {
	font-size: 15px;
	font-weight: 500;
	color: var(--text-color);
	padding: 10px 0;
	padding-top: 0px;
	margin: 0;
}

.feed-item-no-comments-text-container {
	padding: 0;
	margin: 0;
	width: 100%;
}

.feed-item-no-comments-text {
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	padding: 10px 0;
	margin: 0;
	text-align: center;
}

.feed-item-comment-write {
	width: calc(100% - 80px);
	margin: 0 auto;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.feed-item-comment-write-textarea {
	width: 100%;
	border: none;
	margin: 20px 0;
	margin-bottom: 0px;
	background-color: var(--background-color);
	resize: none;
	font-size: 18px;
	font-weight: 500;
	color: var(--text-color);
	font-family: var(--body-font);
}

.feed-item-comment-write-textarea:focus {
	outline: none;
}

.feed-item-comment-write-settings {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
	padding: 0;
}

.feed-item-comment-write-character-count {
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	font-family: var(--body-font);
	margin: 0;
	padding: 0;
}

.feed-item-comment-write-button {
	font-family: var(--display-font);
	padding: 8px 20px;
	margin: 0;
	border: none;
	background-color: var(--accent-color);
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	border-radius: 100px;

	transition: all 0.2s ease-in-out;
}

.feed-item-comment-write-button:hover {
	background-color: var(--accent-dark-color);
}
