.loading-container.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	visibility: visible;
}

.loading-container {
	display: none;
	visibility: hidden;
}

.loading-title {
	padding: 20px 0;
	margin: 0;
}

.loading-loader {
	border: 4px solid var(--accent-darker-color);
	border-top: 4px solid var(--accent-color);
	border-radius: 50%;
	width: 18px;
	height: 18px;
	animation: spin 0.7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
