body {
	width: 100vw;
	height: 100vh;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--display-font);
	position: relative;
	padding: 0;
	margin: 0;
}

.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.loading-title {
	padding: 20px 0;
	margin: 0;
}

.loading-loader {
	border: 4px solid var(--accent-darker-color);
	border-top: 4px solid var(--accent-color);
	border-radius: 50%;
	width: 18px;
	height: 18px;
	animation: spin 0.7s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
