body {
	font-family: var(--display-font);
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}

.container {
	/*border-left: 1px solid var(--gray-color);
	border-right: 1px solid var(--gray-color);*/
	box-shadow: 0px 0px 0px 1px var(--gray-color);
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: 0;
	/*min-height: 100vh;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.header {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 640px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	/*border-right: 1px solid var(--gray-color);
	border-left: 1px solid var(--gray-color);*/
	border-bottom: 1px solid var(--gray-color);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 21;
}

.header-title {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-bottom: 1px solid var(--gray-color);
}

h1 {
	font-family: var(--display-font);
	font-size: 30px;
	font-weight: 700;
	color: var(--text-color);
	margin: 0;
	text-align: center;
	width: 100%;
}

.header-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 40px;
	padding: 0;
	margin: 0;
}

.header-buttons a {
	font-family: var(--display-font);
	margin: 0;
	border: none;
	background-color: transparent;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	height: 40px;
	width: 25%;
	cursor: pointer;
	position: relative;
}

.header-button {
	font-family: var(--display-font);
	margin: 0;
	border: none;
	background-color: transparent;
	color: var(--text-color);
	font-size: 16px;
	font-weight: 500;
	height: 100%;
	width: 100%;
	cursor: pointer;
	position: relative;

	transition: all 0.2s ease-in-out;
}

.header-button.active {
	box-shadow: inset 0px 2px 0px 0 transparent, inset 0px -2px 0px 0 var(--accent-color);
}

.header-button:hover {
	box-shadow: inset 0px 2px 0px 0 transparent, inset 0px -2px 0px 0 var(--accent-color);
}

.header-offset {
	height: 100px;
	background-color: var(--background-color);
}

.footer {
	width: calc(100%); /*had  - 2px*/
	background-color: var(--background-color);
	box-shadow: 0px 0px 0px 1px var(--gray-color);
	/*border-right: 1px solid var(--gray-color);
	border-left: 1px solid var(--gray-color);*/
}

.footer p {
	font-size: 15px;
	font-weight: 500;
	color: var(--gray-color);
	padding: 10px 0;
	margin: 0;
	text-align: center;
}

@media screen and (max-width: 640px) {
	.container {
		box-shadow: none;
	}
}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 26px;
	}
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 24px;
	}
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 20px;
	}
}
