.window {
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: none;

	transition: background-color 0.2s ease-in-out;
}

.window.active {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	z-index: 5000;

	display: flex;
	justify-content: center;
	align-items: center;

	visibility: visible;

	transition: background-color 0.2s ease-in-out;
}

.window.active body {
	overflow: hidden;
}

.window-container {
	width: calc(100% - 20px);
	height: 100%;

	max-width: var(--max-width);
	max-height: var(--max-width);

	background-color: var(--background-color);
	border-radius: 27px;
	border-radius: 27px 27px 10px 10px;
	z-index: 21;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.window-search-container {
	width: 100%;

	background-color: var(--background-color);
	border-bottom: 1px solid var(--gray-color);

	/*height: 59px;*/

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	gap: 10px;
}

.window-back-button {
	background-color: var(--background-color);
	border: none;
	color: var(--text-color);

	padding: 7px;

	display: grid;
	place-items: center;
	margin: 10px;
}

.window-back-button path {
	fill: var(--text-color);
}

.window-search-input {
	height: calc(100% - 2px);
	width: 100%;

	/*padding: 0 10px;*/
	margin: 0;

	background-color: var(--background-color);
	border: none;
	color: var(--text-color);
	font-size: 1.2em;
	font-family: var(--body-font);
}

.window-search-input:focus {
	outline: none;
}

.window-search-button {
	margin: 10px;
}

.window-gif-container {
	height: 100%;

	padding: 5px;

	overflow-y: auto;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 5px;

	margin-bottom: 0;
}

.window-column-gif-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0px;
	padding: 0;
	margin: 0;
}

.window-gif-item {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;

	cursor: pointer;

	transition: all 0.1s ease-in-out;
}

.window-gif-item:hover > img {
	box-shadow: 0 0 0px 1px var(--gray-color);
	z-index: 1000;
}

.window-gif-item img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;

	border-radius: 5px;
	transition: all 0.1s ease-in-out;
	z-index: 0;
}
